.fpara{
    color: white;
}

.fcontainer{
    width: 100%;
    padding: 105px; /* Adjust this if you want some padding */
    margin: 0 auto; /* Center align */
    border-top: 1px solid rgba(250, 250, 250, 0.15); /* Adds the underline */
}